        @import './../../theme/variables';
        @import './../../theme/mixins';
        .settings {
            border: 2px solid black;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            padding: 30px;
            align-items: center;
            width: 100%;
            max-width: 600px;
            .settgins_wrap {
                display: flex;
                align-items: center;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
                max-width: 600px;
                .settings_item {
                    @include center(column);
                    h1 {
                        margin-bottom: 10px;
                    }
                    .param {
                        display: flex;
                        width: 100%;
                        max-width: 200px;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        p {
                            margin-right: 5px;
                        }
                        input {}
                    }
                }
            }
            button {}
        }