@mixin center($dir) {
  display: flex;
  flex-direction: $dir;
  align-items: center;
  justify-content: center;
}

@mixin normalFont {
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

@mixin font-face($font-family, $url) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('#{$url}.otf');
		// src: url('#{$url}.eot?#iefix') format('embedded-opentype'),
		//      url('#{$url}.woff') format('woff'),
		//      url('#{$url}.ttf') format('truetype'),
		//      url('#{$url}.svg') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}